@tailwind base;
@tailwind components;
@tailwind utilities;



* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html {

  scroll-behavior: smooth;

}

@layer base {
  :root {

    --radius: 0.5rem;

  }

}


::selection {
  background: black;
  /* background color for the selected text */
  color: white;
  /* text color for the selected text */
}


/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: white;
  /* background of the track */
}

::-webkit-scrollbar-thumb {
  background: black;
  /* color of the scrollbar thumb */
  border-radius: 6px;
  /* rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
  cursor: pointer;
  /* color when hovering over the thumb */
}



/* Profile dropdown */
.dropdown {

  display: block;

}

.dropdown::before {

  content: '';
  position: absolute;
  top: -0.8rem;
  right: 3.2rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: white;
  border-top: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;

}


/* Notification dropdown */
.notification-dropdown {

  display: block;
  overflow: visible;

}

.notification-dropdown::before {

  content: '';
  position: absolute;
  top: -0.7rem;
  right: 2.2rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: #eb8125;
  /* border-top: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db; */

}




.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}




@keyframes shimmer {
  100% {
    left: 100%;
  }
}



/* premium badge shimmer */
.premium-badge {
  position: relative;
  overflow: hidden;
}

.shimmer-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  animation: shimmer 2s infinite;
  transform: skewX(-20deg);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-20deg);
  }

  100% {
    transform: translateX(300%) skewX(-20deg);
  }
}

.border-shimmer {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  margin: -4px;
  border-radius: 9999px;
  background: conic-gradient(from 0deg,
      #f59e0b,
      #f472b6,
      #60a5fa,
      #f59e0b);
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-gradient {
  @apply bg-gradient-to-r from-orange-600 to-orange-400 bg-clip-text text-transparent;
}




/* Button hover shine effect */
.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::after {
  content: '';
  @apply absolute top-0 left-[-100%] w-full h-full bg-gradient-to-r from-transparent via-white/30 to-transparent transform;
  transition: all 0.5s ease;
  transform: skew(-15deg);
}

.btn-shine:hover::after {
  @apply left-[100%];
}